/* Custom Styles */


@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');
body{
    font-family: 'Open Sans';
}
/* Overriding Bootstrap Styles */

 /* Increasing Container Size to Match PSD */
 @media (min-width: 1200px) {
     .container{
         width:1170px;
         max-width: 1170px;
     }
  }

/* Homepage Styles Begin */
/* Color Codes for theme
#8aba3f for Green 
#03273d for Blue
#8ba5b5 for light blue
*/


/* Topbar  */
.topbar-wrapper {
    background: #03273d;
    color: #fff;
}

.topbar-wrapper h4 {
    font-size: 14px;
    color: #8ba5b5;
    text-transform: capitalize;
    margin:0px;
}

.topbar-wrapper h4 strong {
    color: #8aba3f;
    text-transform: uppercase;
    margin-right: 5px;
}

.topbar-wrapper ul.warning {
    list-style: none;
    margin: 0px;
    padding: 0px;
    height: 100%;
}

.topbar-wrapper ul.warning li {
    display: inline-block;
}


.topbar-wrapper ul.info {
    float: right;
    list-style: none;
    padding: 0;
    margin: 0;
}

.topbar-wrapper ul.info li {
    display: inline-block;
    padding: 0px 4px;
}


.topbar-wrapper span.separator {
    opacity: 0.3;
    margin: 0px 10px;
}

.topbar-wrapper ul.info li {
    font-size: 14px;
}

.topbar-wrapper ul.info li i.fa {
    color: #8aba3f;
    margin: 0px 3px;
}

.topbar-wrapper button.call-topbar {
    color: #fff;
    padding: 15px;
    border: none;
    background: #8aba3f;
}

.topbar-wrapper ul.info li button i.fa {
    color: #fff;
}
/* End Topbar */

/* Header  */
.side-menu-wrapper {
    position: absolute;
    background: #fff;
    right: 0;
    width: 200px;
    height: 200px;
    top: 100%;
    z-index: 9999;
    padding: 0px;
    text-align: right;
    transform: scaleY(0);
    transform-origin: top;
    transition: all .3s ease-in;
}
header nav ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

header nav ul li {
    display: inline-block;
    padding: 0px 10px;
}

nav,.search-bar,.user-action {
    display: inline-flex;
}

header .user-action ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

header .user-action ul li {
    display: inline-block;
    padding: 0px 10px;
}

header.main {
    padding: 15px;
    position: relative;
}

header nav ul li a {text-decoration: none;color: #606060;}

header .search-bar input {
    padding: 10px 32px 10px 10px;
    font-size: 12px;
    position: relative;
    width: 265px;
}

header .search-bar button {
    position: absolute;
    right: 8px;
    background: none;
    border: none;
    top: 28%;
}

form {
    position: relative;
    font-size: 13px;
}

header nav ul.navigation-main li a {
    text-decoration: none;
}

header nav ul li {
    font-size: 14px;
}


.user-action ul li a i.fa {
    color: #222;
}

.hero-unit-wrapper {
    height: 535px;
}

.hero-unit-bg {
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-unit-wrapper .hero-table {
    display: table;
    width: 100%;
    height: 100%;
}

.hero-unit-wrapper .hero-table .hero-table-cell {
    display: table-cell;
    vertical-align: middle;
}

.hero-unit-wrapper h3 {
    color: #8aba3f;
    text-transform: uppercase;
    font-size: 28px;
    letter-spacing: 1px;
}


.hero-unit-wrapper button.hero-button {
    padding: 15px 30px;
    margin-top: 10px;
    background: #8aba3f;
    border: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 30px;
}

.hero-unit-wrapper img {
    width: 500px;
    margin-top: 10px;
}


.logos-area {
    margin-top: 40px;
}

.logos-area .logo-images {
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
}

.homepage-carousel .image-carousel {
    min-height: 300px;
    margin-top: 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.owl-dots {
    position: absolute;
    right: 35px;
    bottom: 5px;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #8aba3f;
}

.products-area-wrapper {
    margin-top: 40px;
}

ul#myTab {
    border: none!important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background: #8aba3f;
    border-radius: 0;
    color: #fff;
    border: none;
    height: 100%;
}

li.nav-item {
    margin-right: 10px;
    background: #bbbbbb;
}

li.nav-item a {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: transparent;
}


/* Product Item */
.product-item .product-img {
    min-height: 240px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 185px;
    margin: 0 auto;
}

.product-item {
    text-align: center;
    padding:20px 0px;
    transition: all .2s;
}

.product-item .product-content h4 {
    font-size: 14px;
    font-weight: bold;
    color: #606060;
    padding: 0px 20px;
}

.product-item .product-content h4 a{
    text-decoration: none;
    color:#606060;
}

.product-item:hover {
    
    box-shadow: 0px 0px 10px 0px rgba(28, 28, 28, 0.2);
    transition:all .3s;
}


div#myTabContent {
    margin-top: 35px;
}

.product-item .product-content strong {
    color: green;
    font-size: 13px;
    font-weight: bold;
}

.brand-wrapper {
    margin-top: 60px;
}

.brand-wrapper .brands-listing {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 35px 0px;
}

.brand-wrapper .brands-listing ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    display: inline-block;
}

.brand-wrapper .brands-listing ul li {
    display: inline-flex;
}

.brands-wrapper .brands-listing h3 {
    display: inline-flex;
}

.brand-wrapper .brands-listing button {
    background: none;
    border-radius: 0;
    border: 2px solid #8aba3f;
    color: #222;
    font-weight: 600;
    padding: 10px 18px;
}

.brand-wrapper .brands-listing button:hover {
    background: #8aba3f;
    transition: all .3s ease-in;
    color: #fff;
}

.brand-wrapper .brands-listing a {
    color: #03273d;
    text-decoration: underline;
    float: right;
    margin-right: 15px;
    margin-top: 10px;
}

.brand-wrapper .brands-listing h3 {
    font-size: 20px;
    display: inline-block;
    margin-left: 25px;
    font-weight: 600;
    margin-right: 40px;
}

.newsletter-wrapper {
    padding: 35px;
    color: #fff;
    margin-top: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.newsletter-wrapper h3 {
    font-weight: 600;
    font-size: 22px;
}

.newsletter-wrapper h3,h5 {
    display: inline-flex;
}

.newsletter-wrapper h5 {
    margin-left: 10px;
    font-size: 14px;
}

.form-inline {
    display: inline-block;
    float: right;
}

.newsletter-wrapper .form-inline input[type="submit"] {background: #8aba3f;border: none;min-height: 40px;min-width: 130px;color: #fff;}

.form-inline input {
    min-height: 40px;
    min-width: 243px;
}

.newsletter-wrapper .form-inline input {
    padding: 0px 10px;
    font-size: 12px;
}

.footer-area-start {
    background: #03273d;
    padding: 30px;
}

.footer-area-start ul.footer-links {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.footer-area-start ul.footer-links h3 {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.footer-area-start ul.footer-links li {
    font-size: 14px;
    padding: 2px 0px;
}

.footer-area-start ul.footer-links li a {color: #8ba5b5;text-decoration: none;}

.footer-area-start ul.footer-links {
    color: #8ba5b5;
}

.footer-area-start ul.footer-links li i.fa {
    color: #fff;
    margin: 0px 10px 0px 0px;
}

.footer-area-start ul.social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 9px;
}

.footer-area-start ul.social-icons li {
    display: inline-block;
    padding: 0px 10px 0px 0px;
    color: #fff;
}

.footer-area-body {
    background: #022235;
    padding: 25px;
}

.footer-area-body p {
    color: #8ba5b5;
    font-size: 13px;
    margin-top: 20px;
}

.footer-area-bottom {
    background: #03273d;
    color: #fff;
    padding: 15px;
}

.footer-area-bottom p {
    margin: 0px;
}

.footer-area-bottom img {
    float: right;
}

.mobile-logo-area{
    display: none;
}

/* Styles Completed. */
/* Responsive Designs */
.side-menu-wrapper.active{

transform: scaleY(1)!important;

transition: all .3s ease-in;
}
.side-menu-wrapper ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.side-menu-wrapper ul span {
    display: none;
}

.side-menu-wrapper ul li {
    padding: 10px 35px;
    border-bottom: 1px solid #d9d9d9;
    display: block;
}

.side-menu-wrapper ul li:last-child {
    border: none;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
@media screen and (max-width:500px){
    
.mobile-logo-area{
    display: block;
}
    header nav{
        display:none;
    }
    .search-bar{
        display: none;
    }
    .user-action{
        display:none;
    }
    .mobile-logo-area button{
        display: block;
    }

    .mobile-logo-area {
        float: right;
        margin-top: -50px;
    }
    
    .mobile-logo-area button {
        background: none;
        border: none;
        font-size: 25px;
    }
    
    ul.warning {
        text-align: center;
        margin-top: 10px!important;
    }
    
    ul.warning span {
        display: none;
    }
    
    ul.info button {
        display: none;
    }
    .topbar-wrapper ul.info {
        float: none;
       text-align: center;
    }

    .form-inline input {
        width: 95%;
        margin: 4px 0px;
    }
    
    .newsletter-wrapper h3,h5 {
        display:block!important;
        text-align:center;
    }
    ul#myTab {
        display: inline-flex;
        margin-left: 100px;
    }
    .brand-wrapper .brands-listing button {
        margin-top: 10px;
    }

    .footer-area-start ul.footer-links h3 {
        margin-top: 20px;
    }
    
    .footer-area-bottom img {
        margin: 0 auto;
        float: none;
        margin-top: 10px;
        margin-left: 15px;
    }

    .logo img {
        width: 225px;
    }



}

@media screen and (max-width:992px) and (min-width:501px){
    .mobile-logo-area {
        float: right;
        margin-top: 0px;
    }
    .mobile-logo-area{
        display: block;
    }
        header nav{
            display:none;
        }
        .search-bar{
            display: none;
        }
        .user-action{
            display:none;
        }
        .mobile-logo-area button{
            display: block;
        }
    
        
        .mobile-logo-area button {
            background: none;
            border: none;
            font-size: 25px;
        }
        
        ul.warning {
            text-align: center;
            margin-top: 10px!important;
        }
        
        ul.warning span {
            display: none;
        }
        
        ul.info button {
            display: none;
        }
        .topbar-wrapper ul.info {
            float: none;
           text-align: center;
        }
    
        .form-inline input {
            width: 95%;
            margin: 4px 0px;
        }
        
        .newsletter-wrapper h3,h5 {
            display:block!important;
            text-align:center;
        }
        ul#myTab {
            display: inline-flex;
            margin-left: 100px;
        }
        .brand-wrapper .brands-listing button {
            margin-top: 10px;
        }
    
        .footer-area-start ul.footer-links h3 {
            margin-top: 20px;
        }
        
        .footer-area-bottom img {
            margin: 0 auto;
            float: none;
            margin-top: 10px;
            margin-left: 15px;
        }
    
    
    
}